

header {
    background-color:rgba(20,30,13, .7);
}


#content {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
    }


body {
    background-color: #0c760a; 
    max-width: 1600px;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    text-align:left;
}


img {
    display:inline;
    margin: 0 auto;
    max-width: 960px;
    } 

.home-title, .button-box, .hero-msg {
    text-align: center;
}

h4 {
    text-align: center;
}

.home-grid h2 {
    text-align: center;
} 
 

nav { 
    background-color: #ffea08;
}
nav.a {
    text-align: center;
    color: white;
    text-decoration: none;
}


.card-img {
    height: 300px;
    width: 300px;
       
       margin-left: 320px;    

}

.icon {
    margin-left: 0 auto;
    width: 40px;
    height: 40px;
}

     
.social {
    padding: 10px;
    text-align: left;
}

.msg {
    text-align: center;
    background-color:rgba(20,30,13, .7);
}

footer {
    background-color:rgba(20,30,13, .7);
    
}
